/* External CSS */
body {
  font-size: 1em;
  color: #444; /* shade of black */
  font-family: Verdana;
}
a {
  color: #444;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: orange;
}
h2 {
  color: green;
}

header {
  background-color: #000; /* color black */
  padding: 3%;
}
header .menu {
  margin: 0;
  list-style: none;
}
header .menu li {
  display: inline;
  margin-right: 2em;
}
header .menu li:last-child {
  margin-right: 0;
}
header .menu li a {
  color: white;
}
header .menu li a:hover {
  color: yellow;
}

.product-cards {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.product-cards .card {
  width: 30%;
}
.product-cards .card h2 {
  color: purple;
}

.school {
  color: purple;
}

.name {
  color: navy;
}

.music {
  color: NAVY;
}

.homework {
  color: #C89D7C;
}

heading {
  padding: 10px;
  font-weight: bold;
  border-style: solid;
  border-width: 12px;
  color: navy;
}

#cheesecake {
  color: rgb(255, 170, 0);
  background-color: rgb(255, 239, 204);
  position: relative;
  top: -135px;
  right: -200px;
}

#cheesecakepic {
  height: 250px;
  position: relative;
  right: 160px;
}

#juniorslogo {
  height: 80px;
  position: relative;
  top: -150px;
  right: 100px;
}

#ramen {
  color: rgb(179, 0, 0);
  background-color: rgb(255, 179, 179);
  position: relative;
  top: -120px;
}

#ramenpic {
  height: 250px;
  margin-left: 80px;
}

#chips {
  font-size: 24px;
  font-margin-left: 150px;
  position: relative;
  top: -120px;
  background-color: rgb(204, 221, 255);
}

#chipspic {
  height: 250px;
  margin-left: 100px;
  margin-right: 50px;
}
